.logo {
  height: 40px;
  pointer-events: none;
}

.header {
  position:fixed;
  width: 100%;
  left:0;
  top:0;
  right: 0;
  z-index: 1000;
  background-color: #0f1417;
  color:white;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
