.stuck {
  position: fixed;
  bottom: 0;
  z-index: 100;
  margin:0;
  width: 100%;
  textarea{width: 100%}
  .container{
    display: flex;
    align-items: center;
    height: 50px;
    button {
      width: 80px;
      height: 100%;
    }
  }
}

